.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.pagetitle{
  text-align: center;
  flex: 1 0 100%;
}

.main{
  /*  The main div inside of <App />        */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.left-side{
  /*flex: 1 0 49%;*/
  /*min-width: 50%;*/
}
div.right-side{
  flex: 1 0 26%;
  margin-right: 20px;
  /*min-width: 50%;*/
}

@media (max-width: 1181px){
  div.left-side{
    order:2;
  }
  div.right-side{
    margin-left: 20px;
  }
}

/* --- Site Wide --- */
button {
  cursor: pointer;
  background: #52BE7F;
  min-height: 22px;
  min-width: 48px;
  border: 0;
  border-radius: 4px;
  color: white;
  padding: 8px 12px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  margin-right: 4px;
  box-shadow: #333333 0px 1px 2px;
}

button.erase{
    background-color: #d32f2f;
}

button.erase:hover{
    color: darkred;
}

button:hover{
  cursor: pointer;
  box-shadow:  #333333 0px 1px 3px;
  color: green;
}

.slideDown{
  transition: transform 1s;
  transform: translateY(120%);
}

/* ----- <Board />  -----*/
div.canvas{
  /* This is essentially the <Board /> wrapper  */
  max-width: 802px;
  width: calc(100vw - 40px);
  /*max-height: 602px;*/
  margin: 0px 20px 20px 20px;
}

div.canvas{
  position: relative;
}

canvas {
  border: solid 1px black;
  background: url("../img/rugby-field-bottom.png");
  background-size: 100% 100%;
  background-position-y: bottom;
  flex: 2 1 50%;
  width: 100%;
  height: calc((100vw - 40px) * (600/800));
  max-height: 602px;
}

canvas:hover{
  cursor: cell;
}

div.tools{
  border: solid 1px black;
  border-radius: 4px;
  background: #E9EFF2;
  width: 100%;
}

div.tools .active{
  filter: drop-shadow(0px 0px 5px red);
}

img.jersey{
  height: 60px;
  transition: all 0.2s;
}

img.jersey:hover, img.line:hover{
  cursor: pointer;
  height: 80px;
  margin: -10px;
}

img.line{
  height: 60px;
  transition: all 0.2s;
}

button.EraseCanvas{
  margin: 4px 10px 10px 0px;
  background-color: #d32f2f;
}

button.EraseCanvas:hover{
  color:darkred;
}

.helper{
  padding: 6px;
  color: red;
  background: rgba(0,0,0,0.8);
  position: absolute;
  right: 10px;
  top: 0;
  border-radius: 3px;
}

.hidden{
  display: none;
}

div.plasticFilm{
  position: absolute;
  top: 0;
  left: 0;
}

div.plasticFilm > p{
  margin: 0;
  font-size: 2em;
  display: none;
  position: absolute;
  top: 0;
  left:0;
  height: 0px;
  width: 0px;
}
div.plasticFilm > p:hover{
  cursor: cell;
}

/*-----  <TeamPicker /> ------*/

form.TeamPicker{
  text-align: center;
  max-width: 600px;
  margin: auto;
  border: 4px solid #CFD8DC;
  padding-bottom: 40px;
  padding-top: 10px;
  border-radius: 8px;
  margin-top: 20px;
}

form.TeamPicker div.header{
  /*box-shadow: 0 8px 16px -12px black;*/
  margin: auto 0px 60px 0px;
}

form h1{
    color: #52BE7F;
}

form h2{
  text-transform: uppercase;
  padding: 0px 30px;
}

form.TeamPicker button{
  margin-top: 8px;
}

form.TeamPicker div.Choose{
  max-width: 300px;
  height: 100px;
  max-height: 300px;
  border: solid 1px #3D414A;
  background: #E9EFF2;
  border-radius: 4px;
  text-align: right;
  margin: auto;
}

input.playbookName{
  border: none;
  background: white;
  margin-top: 0px;
  height: 50%;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px 4px 0px 0px;
  width: calc( 100% - 16px);
  margin-left: -1px;
  max-width: 600px;
  padding: 0px 8px;
  text-align: center;
}


/*------  <SavePlay />  ------*/
form.save2list {
  max-width: 400px;
  height: 150px;
  /*max-height: 150px;*/
  border: solid 1px #3D414A;
  background: #E9EFF2;
  border-radius: 4px;
}

form.save2list input{
  border: none;
  background: white;
  margin-top: 0px;
  padding: 0px 12px;
  height: 33.3%;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px 4px 0px 0px;
  width: calc( 100% - 24px);
}

form.save2list div{
  height: 33.3%;
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

form.save2list input.desc{
  border-top: 1px solid #E9EFF2;
  border-radius: 0px;
}

/* -----  <Plays /> -----  */

.plays{
  /* This is the list of plays   */
  width: 100%;
  min-width: 230px;
  max-width: 400px;
  max-height: 600px;
  border: 1px solid black;
  list-style: none;
  min-height: 240px;
  padding: 0;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.plays li{
  min-width: 100px;
  min-height: 24px;
  background: rgba(205, 220, 57,0.8);
  background-blend-mode: darken;
  padding: 4px;
  display: flex;
  align-items: center;
  transition: all 0.5s;
}

.playsTransition-enter{
  transform: translateX(-100%);
  z-index: 0;
}
.playsTransition-leave{
  transform: translateX(100%);
  z-index: 0;
}


.plays li:first-child{
  border-radius: 4px 4px 0px 0px;
  z-index: 100;
}
.plays li:last-child{
  border-radius: 0px 0px 4px 4px;
}

.plays li:nth-child(even){
  background: rgba(205, 220, 57,0.4);
}

.plays li:not(:first-child):hover{
  background: #607D8B;
  cursor: pointer;
  color: white;
}

ul.plays li.subtitle{
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  text-transform:uppercase;
  font-family: Roboto, sans-serif;
  background-color: #D7E361;
  display: flex;
  justify-content: center;
  /*border-bottom: 2px solid black;*/
  box-shadow: 0px 1px 4px black;
}

ul.CurrentPlay{
  list-style: none;
  max-width: 400px;
  border: 1px solid black;
  min-height: 120px;
  padding: 8px 0px;
  border-radius: 4px;
  font-family: Roboto;
  overflow: hidden;
  position: relative;
}

ul.CurrentPlay .subtitle{
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  text-transform:uppercase;
  font-family: Roboto, sans-serif;
  background-color: #D7E361;
  margin: -8px -8px 4px -8px;
  padding: 6px 8px 4px 8px;
  box-shadow: 0px 1px 4px black;
}

ul.CurrentPlay span{
  font-weight: bold;
  width: 80px;
}

ul.CurrentPlay li {
  margin-bottom: 6px;
  margin-top: 8px;
  padding-right: 8px;
  padding-left: 8px;
}

ul div.noCurrentPlay{
  background-color: #d32f2f;
  color:white;
  padding: 12px 12px;
  text-align: center;
  line-height: 1.5em;
  position: absolute;
  top:0;
  height: 100%;
  transition: transform 1s;
}

li.spinner{
  position: absolute;
  top: 40%;
  left: 45%;
  background: none;
  text-align: center;
  transform: rotate(0deg);
  font-size: 70px;
  margin: 0px;
  padding: 0;
  width: 66px;
  height: 60px;
  min-width: 0px;
  min-width: 0px;
  transition: all 0.5s;
}

ul.plays li.spinner:hover{
  cursor: auto;
  background: none;
  color: black;
}

ul.plays li.spinner.loading{
  transform: rotate(360deg);
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* RESPONSIVE STYLING -- TABLETS */
@media (max-width: 1181px){
  div.right-side{
    display: flex;
    flex-direction: column;
  }
  div.right-side div{
    display: flex;
    flex-direction: column;
  }
  button.loadPlays{
    order:2;
    max-width: 400px;
  }
  ul.plays{
    order:4;
  }
  ul.CurrentPlay{
    order:1;
  }
  form.save2list{
    order: 2; /* really means fourth */
    margin-bottom: 20px;
  }
  button.save2list{
    align-self: flex-end;
    margin-bottom: 8px;
  }
  button.deleteAllPlays{
    order: 3;
    margin-top: 8px;
  }
}
