div.canvas{
  position: relative;
}

canvas {
  border: solid 1px black;
  background: url("../img/rugby-field-bottom.png");
  background-size: 100% 100%;
  background-position-y: bottom;
}

div.tools{
  border: solid 1px black;
  position: absolute;
  right: -100%;
  top: 0;
}

img.jersey{
  height: 60px;
}
